<!doctype html>
<html>
  <head>
    <title>Example application</title>
  </head>
  <body>
    <a href="{{ url_for('urls_post') }}">Links</a>

    <table border="1">
      <thead>
        <tr>
          <th>ID</th>
          <th>URL</th>
          <th>Дата создания</th>
        </tr>
      </thead>
      <tbody>
        {% for item in urls %}
        <tr>
          <td>{{ item.id }}</td>
          <td>{{ item.name }}</td>
          <td>{{ item.created_at }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>